---
import siteConfig from "../site.config";

const subscribe = siteConfig.subscribe;
const { class: className } = Astro.props;
---

<section
  id="subscribe"
  class:list={[
    "p-8 flex flex-col items-center border border-dashed border-gray-500 rounded-2xl text-center",
    className,
  ]}
>
  {subscribe?.title && (
    <h2
      class:list={[
        "w-full max-w-xl leading-tight sigmar-ff font-medium",
        subscribe.text ? "mb-4" : "mb-8",
      ]}
    >
      {subscribe.title}
    </h2>
  )}
  {subscribe?.text && (
    <p class="w-full max-w-xl mb-8 text-sm leading-normal text-balance">
      {subscribe.text}
    </p>
  )}

  <a
    href="https://substack.com/@twotworial"
    target="_blank"
    rel="noopener noreferrer"
    class="button-link space-btn-filled w-full sm:w-auto"
  >
    Subscribe via Substack
  </a>
</section>
