---
import siteConfig from "../site.config";
---

<section id="subscribe" class="my-12 w-full text-center">
  <h2 class="mb-2 font-semibold">{siteConfig.subscribe?.title ?? "Newsletter"}</h2>
  <p class="mb-4 text-sm text-gray-600">
    {siteConfig.subscribe?.text ?? "Dapatkan artikel terbaru langsung ke inbox Anda."}
  </p>

  <iframe 
    src="https://twotworial.substack.com/embed" 
    width="480" 
    height="150" 
    style="border:1px solid #EEE; background:white;" 
    frameborder="0" 
    scrolling="no">
  </iframe>
</section>
